<footer>
  <section class="wrapper">
    <section class="sitemap">
      <section class="item">
        <h3>Other Pages</h3>
        <ul>
          <li>Home</li>
          <li>About Us</li>
          <li>Courses</li>
          <li>Contact Us</li>
          <li>Become an Affiliate</li>
        </ul>
      </section>
      <section class="item">
        <h3>Our Programs</h3>
        <ul>
          <li>Data/Business Analytics</li>
          <li>Data Engineering</li>
          <li>Data Modeling</li>
          <li>Data Science</li>
          <li>Data Visualization</li>
        </ul>
      </section>
      <section class="item">
        <h3>Quick Link</h3>
        <ul>
          <li>Privacy Policy</li>
          <li>Terms & Conditions</li>
          <li>Disclaimer</li>
          <li>Credit</li>
          <li>FAQ</li>
        </ul>
      </section>
      <section class="item">
        <h3>Contact Info</h3>
        <ul>
          <li><a href="#">
            <i class="fa fa-home" aria-hidden="true"></i><span>16028 Elegant court, Bowie MD 20716</span></a></li>
          <li><a href="mailto:info@e1xacademy.com">
            <i class="bx bx-envelope"></i
            ><span>info@e1xacademy.com</span></a></li>
          <li><a href="tel:+12409064083">
            <i class="bx bx-phone-call"></i><span>+12409064083</span></a></li>
          <li class="footerSocial"><a href="#" class="socials"><i class="bx bxl-facebook-circle"></i></a>
            <a href="#" class="socials"><i class='bx bxl-instagram'></i></a>
            <a href="#" class="socials"><i class='bx bxl-linkedin-square'></i></a></li>
        </ul>
      </section>
    </section>

    <section class="copyright">
      <figure>
        <img
        class="logo"
        src="pr/assets/imgs/edoubleone-academy-logo.fw_.png"
        alt="E-DoubleOne Academy Logo"
        />
      </figure>

      <p>
        Copyrights &copy; E-DoubleOne Academy 2021, All Rights Reserved.
      </p>
    </section>
  </section>
</footer>